
<!-- education -->
<h1 style="text-align: center; padding-top:3%">Education</h1>
<hr class="hr" />
<link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/tutorials/timelines/timeline-1/assets/css/timeline-1.css">
<!-- Timeline 1 - Bootstrap Brain Component -->
<section class="bsb-timeline-1 py-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 col-md-8 col-xl-6">

        <ul class="timeline">
          <li class="timeline-item">
            <div class="timeline-body">
              <div class="timeline-content">
                <div class="card border-0">
                  <div class="card-body p-0">
                    <h5 class="card-subtitle text-secondary mb-1">2023-2024</h5>
                    <h2 class="card-title mb-3">Master of Computer Science</h2>
                    <h5 class="card-subtitle text-secondary mb-3">Rice University</h5>
                    <p class="card-text m-0"></p>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="timeline-item">
            <div class="timeline-body">
              <div class="timeline-content">
                <div class="card border-0">
                  <div class="card-body p-0">
                    <h5 class="card-subtitle text-secondary mb-1">2018-2023</h5>
                    <h2 class="card-title mb-3">Bachelors of Art in Cognitive Science</h2>
                    <h5 class="card-subtitle text-secondary mb-3">Rice University</h5>
                    <p class="card-text m-0"></p>
                  </div>
                </div>
              </div>
            </div>
          </li>

        </ul>

      </div>
    </div>
  </div>
</section>
<!-- education -->



<!-- web projects timeline -->
<h1 style="text-align: center; padding-top:3%">Projects</h1>
<hr class="hr" />
<link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/tutorials/timelines/timeline-1/assets/css/timeline-1.css">
<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/tutorials/timelines/timeline-6/assets/css/timeline-6.css">
<!-- Timeline 1 - Bootstrap Brain Component -->
<section class="bsb-timeline-1 py-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 col-md-8 col-xl-6">

        <ul class="timeline" >

          <li class="timeline-item">
            <div class="timeline-body">
              <div class="timeline-content">
                <div class="card border-0">
                  <div class="card-body p-0">
                    <img class="card-img-top img-fluid" loading="lazy" src="https://i.postimg.cc/y8Z3QdYZ/clip.png" alt="Bootstrap 5">
                    <div class="card-body border border-top-0 border-light-subtle">
                      <h5 class="card-subtitle text-secondary mb-2">01/2024 - 05/2024</h5>
                      <h2 class="card-title mb-3">Hand Gesture Recognition</h2>
                      <p class="card-text m-0">Leveraged open access pretrained large language models, visual question answering models and MediaPipe's hand landmark model
                        to locate a hand and classify the hand gesture</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="timeline-item">
            <div class="timeline-body">
              <div class="timeline-content">
                <div class="card border-0">
                  <div class="card-body p-0">
                    <img class="card-img-top img-fluid" loading="lazy" src="https://i.postimg.cc/rm0VBvzf/photoverse-homepage.png" alt="Bootstrap 5">
                    <div class="card-body border border-top-0 border-light-subtle">
                      <h5 class="card-subtitle text-secondary mb-2">09/2023 - 03/2024</h5>
                      <h2 class="card-title mb-3">Photoverse</h2>
                      <p class="card-text m-0">Mock-social media site for amateur and professional photographers to share their work with their followers and
                      be inspired by fellow photographers. Users can post descriptively captioned images and comment on any post.
                      Photoverse can be found <a href="https://photoverse-site.netlify.app/">here</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="timeline-item">
            <div class="timeline-body">
              <div class="timeline-content">
                <div class="card border-0">
                  <div class="card-body p-0">
                    <img class="card-img-top img-fluid" loading="lazy" src="https://i.postimg.cc/BnVpx3QQ/arcade.png" alt="Bootstrap 5">
                    <div class="card-body border border-top-0 border-light-subtle">
                      <h5 class="card-subtitle text-secondary mb-2">08/2022 - 10/2023</h5>
                      <h2 class="card-title mb-3">Journey of the Prairie King</h2>
                      <p class="card-text m-0"><p>A recreation of a Wild-West themed top-down shooter arcade game found
                      in Stardew Valley, a popular indie farming game. The online arcade game can be found <a href="https://jopk-clone.netlify.app/">here</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

        </ul>

      </div>
    </div>
  </div>
</section>
<!-- education -->

<web-skills></web-skills>
