<div>
  <h1 class="text-start display-1"><b>Audrey Lu</b></h1>
  <h4 class="text-start" style="color: #ab3a3a; ">Software Engineer</h4>

  <p class="text-start">As a Master's of Computer Science student graduating in December 2024, my experience ranges from artificial
    intelligence to product management to web development. As a avid learner, I am constantly seeking new opportunities
    for growth. I hope to develop software that not only look beautiful but will also revolutionize how humans interact with the world.
  </p>
  <ul>
    <li class="text-start">Web Developer</li>
    <li class="text-start">AI/ML Scientist</li>
  </ul>
</div>
