<div class="login">
  <h1 style="font-family: Quicksand">Audrey Lu</h1>
  <h4 style="font-family: Quicksand; color: #ab3a3a; ">Software Engineer</h4>

  <p>As a Master's of Computer Science student graduating in December 2024, my experience ranges from artificial
    intelligence to product management to web development. As a avid learner, I am constantly seeking new opportunities
    for growth. I hope to develop software that not only look beautiful but will also revolutionize how humans interact with the world.
  </p>
  <ul style="font-family: Quicksand">
    <li>Web Developer</li>
    <li>AI/ML Scientist</li>
  </ul>
</div>
