<div class="container">
  <div class="row align-items-center">
    <div class="col">
      <h1 style="font-family: Quicksand; text-align: center">Web Projects</h1>
      <div>
        <h4 style="font-family: Quicksand; color: #ab3a3a; ">PhotoVerse</h4>
        <p>Mock-social media site for amateur and professional photographers to share their work with their followers and
          be inspired by fellow photographers. Users can post descriptively captioned images and comment on any post.
          Photoverse can be found <a href="https://photoverse.surge.sh">here</a></p>
        <img class="img-thumbnail" src="https://i.postimg.cc/906XGv9R/photoverse-snap.png">
        <img class="img-thumbnail" src="https://i.postimg.cc/rm0VBvzf/photoverse-homepage.png">
      </div>
      <div>
        <h4 style="font-family: Quicksand; color: #ab3a3a; padding-top: 3% ">Journey of the West</h4>
        <p>A recreation of a Wild-West themed top-down shooter arcade game found in Stardew Valley, a popular indie farming game. Journey of the Priaire King clone can be found <a href="https://jopk-clone.netlify.app/">here</a></p>
        <img class="img-thumbnail" src="https://i.postimg.cc/BnVpx3QQ/arcade.png">
      </div>
    </div>
  </div>
</div>
